<section class="h-screen flex justify-center">
  <div class="container mt-28 h-3/4 w-5/6 ">
    <mat-card class="w-100 shadow-lg shadow-cyan-800/50">
      <mat-card-header class="flex justify-center">
        <div class="text-center">
          <img
            src="assets/images/place-holder.jpg"
            class="rounded-full w-44 mb-4 mx-auto"
            alt="Avatar"
          />
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="text-center">
          <h4 class="text-xl font-medium leading-tight mb-2">{{user.firstname}} {{user.lastname}}</h4>
          <h4 class="text-xl font-medium leading-tight mb-2">{{user.email}}</h4>
          <h4 class="text-xl font-medium leading-tight mb-2">Your Roles: </h4>

          {{user.roles | json}}
          <!-- <div *ngFor="let role of getRoles()">
             <h6 class="text-xl font-medium leading-tight mb-2">{{role | json}}</h6>
           </div>-->
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
